<head>
<title>Sistemas Operacionais 1996 - Aula 04</title>
</head>

<body>

<h1> 
Comunica&ccedil;&atilde;o Interprocessos
</h1>

<hr>

<h2>
Sem&aacute;foros
</h2>

Um sem&aacute;foro &eacute; uma vari&aacute;vel
de sincroniza&ccedil;&atilde;o que pode ter
valores inteiros n&atilde;o-negativos.
Foram inventados por Edsger Dijkstra in 1965.
Duas opera&ccedil;&otilde;es s&atilde;o
definidas sobre sem&aacute;foros:

<ul>
<li>
<b>P </b> (do holand&ecirc;s "proberen", testar):
uma opera&ccedil;&atilde;o at&ocirc;mica que 
espera o sem&aacute;foro ficar positivo, e a seguir
decrementa-o de 1. Tanenbaum utiliza <b> down.</b>
<li>
<b>V </b> (do holand&ecirc;s "verhogen", incrementar):
uma opera&ccedil;&atilde;o at&ocirc;mica que 
incrementa o sem&aacute;foro de 1.
Tanenbaum utiliza <b> up.</b>
</ul>

Sem&aacute;foros prov&ecirc;m uma abstra&ccedil;&atilde;o
simples e elegante que &eacute; &uacute;til
para implementar exclus&atilde;o m&uacute;tua
e outras tarefas de sincroniza&ccedil;&atilde;o.

<p>

Como exemplo, veja a solu&ccedil;&atilde;o do 
Problema de Espa&ccedil;o na Geladeira
utilizando sem&aacute;foros
(mesmo c&oacute;digo para os dois processos):

<p>

<pre>

down (PodeComprarLeite);
if (SemLeite) {
     Compra Leite;
}
up (PodeComprarLeite);

</pre>

<p>

Como PodeComprarLeite deve ser inicializado?

<p>

<em> Sem&aacute;foros bin&aacute;rios </em>
s&atilde;o aqueles que s&oacute; podem ter os
valores 0 e 1.

<p>

<em> Sem&aacute;foros contadores </em>
podem assumir qualquer valor inteiro n&atilde;o-negativo.

<p>

Sem&aacute;foros apresentam v&aacute;rias propriedades
importantes:

<ul>
<li>
s&atilde;o independentes de m&aacute;quina
<li>
s&atilde;o simples
<li>
s&atilde;o gerais
<li>
funcionam com muitos processos
<li>
podem existir v&aacute;rias se&ccedil;&otilde;es
cr&iacute;ticas diferentes controladas por v&aacute;rios
sem&aacute;foros 
<li>
muitos recursos podem ser adquiridos
simultaneamente (v&aacute;rios <b> down</b>'s)
<li>
permitem m&uacute;ltiplos processos numa 
se&ccedil;&atilde;o cr&iacute;tica de uma vez,
se isso for desej&aacute;vel
</ul>

Tipicamente, sem&aacute;foros n&atilde;o s&atilde;o
providos pelo hardware.

<p>

<b> O Problema do Produtor-Consumidor </b>
resovido com sem&aacute;foros (Tanenbaum, Fig. 2-11):

<pre>

#include "prototypes.h"

#define N 100                    /* number of slots in the buffer */

typedef int semaphore;           /* semaphores are a special kind of int */

semaphore mutex = 1;             /* controls access to critical region */
semaphore empty = N;             /* counts empty buffer slots */
semaphore full = 0;              /* counts full buffer slots */

void producer(void)
{
  int item;

  while (TRUE) {   
        produce_item(&item);     /* generate next item */
        down(&empty);            /* decrement empty count */
        down(&mutex);            /* enter critical region */
        enter_item(item);        /* put item in buffer */
        up(&mutex);              /* leave critical region */
        up(&full);               /* increment count of full slots */
  }
}

void consumer(void)
{
  int item;

  while (TRUE) {                 /* repeat forever */
        down(&full);             /* decrement count of full slots */
        down(&mutex);            /* enter critical region */
        remove_item(&item);      /* take item from buffer */
        up(&mutex);              /* leave critical region */
        up(&empty);              /* increment count of full slots */
        consume_item(item);      /* use item */
  }
}

</pre>

<p>

<ul>
<li>
<b> down </b> e <b> up </b> devem ser
implementados pelo sistema operacional
(por exemplo, desabilitando interrup&ccedil;&otilde;es)
<li>
<b> mutex: </b> utilizado para exclus&atilde;o
m&uacute;tua
<li> 
<b> empty </b> e <b> full: </b>
utilizados para sincroniza&ccedil;&atilde;o:
<ul>
<li>
trava o produtor quando o buffer est&aacute; cheio
<li>
trava o consumidor quando o buffer est&aacute; vazio
</ul>
</ul>

Para pensar um pouco mais:

<ul>
<li>
o sem&aacute;foro <b> mutex </b> &eacute;
realmente necess&aacute;rio se houver apenas
um produtor e um consumidor?
<li>
e se existirem v&aacute;rios produtores e
v&aacute;rios consumidores?
</ul>

Sem&aacute;foros, na realidade, s&atilde;o
primitivas para sincroniza&ccedil;&atilde;o
de baixo n&iacute;vel;
utiliz&aacute;-los &eacute; equivalente a
programar em <em> assembler </em>.
Portanto, deve ser tomado muito cuidado.
Por exemplo, suponha que no c&oacute;digo
do produtor acima a ordem das opera&ccedil;&otilde;es
<b> down </b> seja trocada.
O programa continua funcionando?
N&atilde;o: fica aberta a possibilidade de
ocorrer <b> deadlock:</b>
os dois processos ficam bloqueados
para sempre.
Como isso pode acontecer?

<p>

Daqui a pouco vamos estudar <em> monitores,</em>
que oferecem uma abstra&ccedil;&atilde;o de 
n&iacute;vel mais alto para escrever programas
concorrentes.
Antes de monitores, vamos ver 
<em> contadores de eventos </em>.

<p>

<!==========================================================================>

