<head>
<title>Sistemas Operacionais 1996 - Aula 01</title>
</head>

<body>

<h1> 
Sistemas Operacionais - Introdu&ccedil;&atilde;o
</h1>

<hr>

<h2>
Objetivos do curso
</h2>

<ul>
<li>
entender "o que &eacute; um sistema operacional"
<li>
entender os principais componentes de um sistema operacional
<li>
entender como construir sistemas de software elaborados
</ul>

<!==========================================================================>

<h2>
Introdu&ccedil;&atilde;o
</h2>

O que &eacute; um sistema operacional?

<ul>
<li>
um provedor de abstra&ccedil;&otilde;es
<li>
um coordenador de recursos
<li>
um m&aacute;gico: faz com que seu sistema pare&ccedil;a
mais do que na realidade ele &eacute;
(mais de um processador, mem&oacute;ria maior)
</ul>

A principal tarefa do SO &eacute; "adaptar" o hardware.

<p>

Exemplos: MS-DOS/Windows, MacOS, UNIX.

<p>

O que vem inclu&iacute;do em um SO?

<p>

J&aacute; que pouqu&iacute;ssimas pessoas projetam
e escrevem sistemas operacionais, para que estud&aacute;-los?

<ul>
<li>
conceitos de sistemas operacionais s&atilde;o
relevantes em toda 
ci&ecirc;ncia da computa&ccedil;&atilde;o.
Um entendimento dos conceitos de sistemas
operacionais fornece uma excelente base
para a constru&ccedil;&atilde;o de sistemas
de software complexos
<li>
entender o SO &eacute; fundamental para um
entendimento profundo de um sistema de computa&ccedil;&atilde;o.
Isto &eacute; &uacute;til mesmo que voc&ecirc;
nunca v&aacute; escrever um SO.
</ul>

<!==========================================================================>

<h2>
Uma Hist&oacute;ria Social de Sistemas Operacionais
</h2>

<B>
Fase 0:
Computadores s&atilde;o uma ci&ecirc;ncia experimental
e ex&oacute;tica: n&atilde;o precisa de sistema operacional
</B>

<ul>
<li>
computador programado atrav&eacute;s de "plugs" no painel
<li>
usu&aacute;rio presente todo o tempo;
toda atividade &eacute; <em> sequencial:</em>
nenhuma sobreposi&ccedil;&atilde;o entre
computa&ccedil;&atilde;o, E/S e tempo de
pensar do usu&aacute;rio
<li>
conjuntos de cart&otilde;es manualmente
carregados para executar os programas
<li>
eventualmente foram desenvolvidas bibliotecas,
utilizadas por todos (... precursoras dos
sistemas operacionais)
</ul>

Problema: muita espera.

<ul>
<li>
usu&aacute;rio tem que esperar pela m&aacute;quina
<li>
m&aacute;quina tem que esperar pelo usu&aacute;rio
<li>
todos t&ecirc;m que esperar pela leitora de cart&otilde;es
</ul>

<B>
Fase 1:
Computadores s&atilde;o caros;
pessoas s&atilde;o baratas
</B>

<ul>
<li>
torna utiliza&ccedil;&atilde;o do computador mais eficiente,
desacoplando as atividades das pessoas das
atividades do computador
<li>
SO funciona como um monitor <em> batch,</em>
continuamente carregando um <em> job,</em>
executando e continuando com o 
pr&oacute;ximo job.
Se o programa falhasse, o SO salvava uma
c&oacute;pia do conte&uacute;do de mem&oacute;ria
para o programador depurar (1955-1965)
<li>
melhor utiliza&ccedil;&atilde;o do hardware;
bem dif&iacute;cil para depurar!
<li>
"canais de E/S" e interrup&ccedil;&otilde;es: 
sobrep&otilde;e E/S e computa&ccedil;&atilde;o

<ul>
<li>
uso de "buffers" e gerenciamento de interrup&ccedil;&otilde;es
feito pelo SO
<li>
"spool" de jobs para o tambor magn&eacute;tico
</ul>

</ul>

Problemas: 

<ul>
<li>
s&oacute; um usu&aacute;rio de cada vez na m&aacute;quina
<li>
usu&aacute;rio tem que esperar pela m&aacute;quina
<li>
um SO para cada m&aacute;quina
</ul>

T&eacute;cnicas de hardware: adiciona
prote&ccedil;&atilde;o &agrave; mem&oacute;ria
e reloca&ccedil;&atilde;o

<ul>
<li>
multiprograma&ccedil;&atilde;o: 
muitos usu&aacute;rios podem compartilhar o sistema
<li>
jobs pequenos podem completar rapidamente
<li>
SO passa a ter que gerenciar intera&ccedil;&atilde;o
entre jobs concorrentes
</ul>

IBM OS/360: primeiro SO projetado para uma fam&iacute;lia
de computadores

<ul>
<li>
utilizar o mesmo SO em todas as m&aacute;quinas, da
mais simples &agrave; mais complexa
<li>
SO passa a ser um assunto de estudo em 
ci&ecirc;ncia da computa&ccedil;&atilde;o
<li>
SOs passaram a ser estudados porque eles
n&atilde;o funcionavam. 
OS/360 &eacute; um exemplo: anunciado em 1963,
s&oacute; funcionou realmente em 1968
</ul>

Novos problemas:

<ul>
<li>
SOs extremamente complicados
<li>
todo escrito em assembler, milhares
de linhas (e de erros)
<li>
usu&aacute;rios ainda esperando pela m&aacute;quina;
isso motivou a fase 2
</ul>

<B>
Fase 2:
Computadores s&atilde;o r&aacute;pidos;
pessoas s&atilde;o lentas;
ambos s&atilde;o caros.
Necess&aacute;rio tornar as pessoas
mais produtivas.
</B>

<p>

"Timesharing" interativo: permitir que v&aacute;rios
usu&aacute;rios utilizem a mesma m&aacute;quina
simultaneamente

<ul>
<li>
um terminal para cada usu&aacute;rio
<li>
manter os dados "on-line":
utiliza&ccedil;&atilde;o de sistemas de 
arquivos estruturados
<li>
prover tempo de resposta razo&aacute;vel
</ul>

<B>
Fase 3:
Computadores s&atilde;o baratos;
pessoas s&atilde;o caras.
Dar um computador para cada pessoa.
</B>

<ul>
<li>
<em> workstation </em> pessoal:

<ul>
<li>
SUN (Stanford University Network)
<li>
Xerox Alto
</ul>

<li>
Apple II
<li>
IBM PC
<li>
MacIntosh
</ul>

<B>
Fase 4:
Computadores Pessoais (PCs) invadem o planeta
</B>

<ul>
<li>
fornecedores de software produzem programas
para uso individual de alta qualidade com
suporte limitado para fun&ccedil;&otilde;es de SO
<li>
prote&ccedil;&atilde;o e seguran&ccedil;a s&atilde;o
de import&acirc;ncia secund&aacute;ria
<li>
redes possibilitam aparecimento de novas
aplica&ccedil;&otilde;es importantes:
e-mail, bboards, newsgroups, WWW.
Aparecimento de arquiteturas 
cliente-servidor.
<li>
m&aacute;quinas servidoras motivam mais
avan&ccedil;os na tecnologia de SOs
</ul>

Problemas:

<ul>
<li>
as pessoas ainda continuam esperando por computadores
<li>
viruses e <em> worms </em>
<li>
<em> hackers </em>
</ul>

<!==========================================================================>

<h2>
Hist&oacute;ria T&eacute;cnica de Sistemas Operacionais
</h2>

<B>
Sistemas Timesharing
</B>

<p>

CTSS (1962):

<ul>
<li>
MIT
<li>
um dos primeiros sistemas timesharing
<li>
motivou o desenvolvimento do MULTICS
</ul>

MULTICS (1965):

<ul>
<li>
projeto conjunto entre
MIT, Bell Labs e General Eletric
<li>
objetivo era um "distribuidor"
de servi&ccedil;os de computa&ccedil;&atilde;o.
As pessoas iriam comprar esses servi&ccedil;os
do mesmo modo que compram eletricidade
<li>
introduziu v&aacute;rias id&eacute;ias fundamentais:
an&eacute;is de prote&ccedil;&atilde;o, 
sistema de arquivos estruturado em &aacute;rvore
e outros
<li>
construir foi mais dif&iacute;cil do que era esperado
</ul>

UNIX (1970):

<ul>
<li>
Ken Thompson (do projeto MULTICS) descobriu um
PDP-7 sem utiliza&ccedil;&atilde;o no Bell Labs
<li>
ele e Dennis Ritchie construiram um sistema
projetado <b> por </b> programadores 
<b> para </b> programadores
<li>
primeira vers&atilde;o em assembler, depois em C
<li>
c&oacute;digo fonte foi disponibilizado para Universidades
<li>
Berkeley adicionou suporte para mem&oacute;ria virtual
<li>
UNIX se tornou um SO comercial
<li>
id&eacute;ias importantes popularizadas pelo UNIX:

<ul>
<li>
SO escrito numa linguagem de alto n&iacute;vel
<li>
SO port&aacute;vel
<li>
sistema de arquivos estruturado em &aacute;rvore
<li>
v&aacute;rias outras
</ul>

</ul>

<B>
PCs e Workstations
</B>

<ul>
<li>
CP/M: primeiro SO para PCs
<li>
IBM precisava de software para seu novo PC;
libera&ccedil;&atilde;o do CP/M estava atrasada
<li>
IBM contrata Microsoft (Bill Gates, BASIC) para
construir um SO
<li>
objetivo principal: terminar r&aacute;pido e ser 
compat&iacute;vel com CP/M
</ul>

Hoje: redes

<ul>
<li>
sistemas de computa&ccedil;&atilde;o s&atilde;o compostos
de recursos pessoais e recursos compartilhados
<li>
pessoas n&atilde;o querem compartilhar CPU e mem&oacute;ria,
mas querem compartilhar correio eletr&ocirc;nico,
bancos de dados, programas e outros
</ul>

<!==========================================================================>

<h2>
Sistemas Operacionais Hoje
</h2>

<B>
Os SOs atuais s&atilde;o:
</B>

<ul>
<li>
Enormes:

<ul>
<li>
se o <em> kernel </em> do seu SO ocupa menos
que 1 Mbyte, ele &eacute; considerado pequeno
<li>
tipicamente centenas de milhares de linhas de c&oacute;digo
<li>
100-1000 homens-ano de esfor&ccedil;o de desenvolvimento
</ul>

<li>
Complexos:

<ul>
<li>
ass&iacute;ncronos
<li>
idiossincrasias de hardware (tem que executar em qualquer plataforma)
<li>
classes diferentes de usu&aacute;rios apresentam diferentes demandas
<li>
performance &eacute; crucial
</ul>

<li>
Mal compreendidos:

<ul>
<li>
os sistemas duram mais que seus criadores
<li>
muito grandes para uma s&oacute; pessoa compreender
<li>
nunca est&atilde;o completamente livres de erros
(OS/360 foi liberado com 1000 "bugs")
<li>
comportamento &eacute; dif&iacute;cil de prever;
ajustes de performance feitos, em geral,
baseados em intui&ccedil;&atilde;o;
intui&ccedil;&atilde;o quase sempre est&aacute; errada
</ul>

</ul>

<B>
Conceitos em SOs:
</B>

<ul>
<li>
<em> system calls </em> (chamadas de sistema)
<li>
processos
<li>
interrup&ccedil;&otilde;es
</ul>

<B>
Funcionalidade de SOs
</B>

<p>
<b> Concorr&ecirc;ncia: </b>
usu&aacute;rio compartilha mem&oacute;ria,
dispositivos de E/S e processadores; no entanto
cada usu&aacute;rio imagina que tem sua 
pr&oacute;pria m&aacute;quina

<ul>
<li>
um usu&aacute;rio pode executar m&uacute;ltiplas atividades
<li>
SO utiliza a abstra&ccedil;&atilde;o <b> processo </b>
para gerenciar as intera&ccedil;&otilde;es
<li>
SO deve evitar que os processos interajam de
maneira err&ocirc;nea ou n&atilde;o-intencional
</ul>

<b> Suporte a E/S: </b>
dispositivos de E/S s&atilde;o lentos;
&eacute; desej&aacute;vel que a CPU n&atilde;o
fique ociosa durante opera&ccedil;&otilde;es
de E/S. Motiva&ccedil;&atilde;o para
interrup&ccedil;&otilde;es.

<ul>
<li>
dispositivos operam independentemente
<li>
CPU fornece os comandos para os dispositivos
e vai executar outra coisa
<li>
quando a opera&ccedil;&atilde;o completa,
o dispositivo interrompe a CPU
<li>
CPU interrompe o que estava fazendo,
trata a interrup&ccedil;&atilde;o, e 
depois continua com o que estava fazendo
<li>
SO deve garantir que interrup&ccedil;&otilde;es
n&atilde;o pertubem o estado corrente da m&aacute;quina
<li>
em algumas situa&ccedil;&otilde;es deve-se
gerenciar interrup&ccedil;&otilde;es
m&uacute;ltiplas
</ul>

<b> Mem&oacute;ria: </b>
usu&aacute;rios/processos t&ecirc;m que compartilhar
uma quantidade limitada de mem&oacute;ria.

<ul>
<li>
SO tem que coordenar esse compartilhamento
<li>
disponibiliza mem&oacute;ria real quando um
processo est&aacute; executando,
atrav&eacute;s de pagina&ccedil;&atilde;o ou
segmenta&ccedil;&atilde;o
<li>
programas s&atilde;o escritos como se a 
m&aacute;quina tivesse uma mem&oacute;ria
muito maior
</ul>

<b> Sistema de Arquivos: </b>
arquivos n&atilde;o podem desaparecer e s&atilde;o pessoais

<ul>
<li>
SO tem que alocar espa&ccedil;o em discos e fitas
<li>
SO tem que prover prote&ccedil;&atilde;o
</ul>

<b> Redes: </b>
usu&aacute;rios podem se comunicar com outras 
m&aacute;quinas ou podem utilizar outras
m&aacute;quinas 

<ul>
<li>
SO tem que suportar protocolos de 
comunica&ccedil;&atilde;o,
<em> naming, </em>
transpar&ecirc;ncia na rede,
sistemas de arquivos remotos
<li>
SO tem que fazer um
<em> sistema distribu&iacute;do </em>
se parecer com um
sistema centralizado
</ul>

<b> O SO apresenta ilus&otilde;es aos usu&aacute;rios: </b>

<ul>
<li>
cada programa executa na sua pr&oacute;pria m&aacute;quina
<li>
existe mais mem&oacute;ria do que voc&ecirc; jamais
vai precisar
<li>
eventos podem acontecer simultaneamente
<li>
(... quase sempre o SO &eacute; bem sucedido)
</ul>


<!==========================================================================>

